#main{
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 100px;
}

img{
    width: 600px;
    height: inherit;
    border-radius: 50px;
}

ul{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    text-align: center;
}
